:root {
  --bg: #428bcf;
  --content: #fcfcfc;
  --text: #0f0e0e;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--bg);
  padding: 15px;
}

header h1 {
  color: var(--content);
  font-size: 26px;
  text-align: center;
  margin: 15px 0;
}

main section {
  background-color: var(--content);
  box-shadow: 0 1px 10px rgba(0,0,0,.2);
  border-radius: 10px;
  max-width: 600px;
  padding: 10px;
  margin: 30px auto;
}

input {
  padding: 10px;
  border-radius: 6px;
}

button {
  padding: 10px;
  border-radius: 6px;
}

#selTab p {
  text-align: center;
  font-weight: bold;
}

footer p {
  color: var(--content);
  font-size: 16px;
  text-align: center;
  margin: 15px 0;
}